@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-darker text-slate-200 antialiased;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer utilities {
  .animate-fade-in-up {
    animation: fadeInUp 0.8s ease-out forwards;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}

/* Leaflet override */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* Custom Popup Styles for Map */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  @apply bg-white text-slate-900 shadow-xl rounded-lg !important;
}
.leaflet-popup-content {
  margin: 1rem !important;
}
